<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strongint</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="header-div">
        <header class="header">
            <div class="hompage">
                <a class="atom-button" href="https://strongint.de">
                    <i class="fab fa-ethereum"></i>
                </a>
                <a class="hmpLink" href="htpps://strongint.de">Strongint</a>
            </div>
            <div class="navi">
                <nav class="navigation">
                    <ul class="nav-right">
                        <li>
                            <a class="projectA" href="./projects/sorts">Sorting Algorythms</a>
                        </li>
                        <li>
                            <a class="projectB" href="./projects/birthdays/">Birthdays</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <input type="checkbox" class="nav-toggle" id="nav-toggle"></input>
            <label for="nav-toggle" class="nav-toggle-label">
                <i class="fas fa-bars"></i>
            </label>
            <div class="navi-m">
                <nav class="navigation-m">
                    <ul class="nav-right-m">
                        <li>
                            <a class="projectA" href="./projects/sorts">Sorting Algorythms</a>
                        </li>
                        <li>
                            <a class="projectB" href="./projects/birthdays/">Birthdays</a>
                        </li>
                    </ul>
                </nav>
            </div>
    </div>
    </header>


    <div class="footer-div">
        <footer class="footer-foot">
            <div class="footer--element">
                <ul class="socials">
                    <li title="Checkout my Twitter">
                        <a class="fa-stack fa-1x twitter" href="https://twitter.com/">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                        </a>
                    </li>
                    <li title="Checkout my Github repo">
                        <a class="fa-stack fa-1x github" href="https://github.com/">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                        </a>
                    </li>
                    <li title="Write me an Email">
                        <a class="fa-stack fa-1x mail" href="mailto:your@mail.com">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="rights">
                <p class="copyright">
                    Copyright &copy;2021 strongint.de designed by <span>ANON</span>
                </p>
            </div>
        </footer>
    </div>
</body>

</html>
